<p>Welcome to {{title}}</p>
<a href="/new">Create a new place</a>

<br></br>

<div id="map"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

<br></br>
<div class="list-allplaces">
  <h3 class="list-title">List of places</h3>

  <ol class="all-elements-list">
    {{#each allPlaces}}
    <li class="list-places  ">
      <p class="name-place">{{name}}: </p>
      <a class="update-place" href="/{{_id}}">Update</a>
      <a class="delete-place" href="/{{_id}}/delete">Delete</a>
    </li>
    {{/each}}
  </ol>
</div>